---
Checks: >
  -*,
  misc-static-assert,
  clang-analyzer-security*,
  clang-analyzer-unix*,
  clang-analyzer-valist*,
  clang-analyzer-nullability*,
  bugprone-*,
  cert-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -cert-err33-c,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  -performance-no-int-to-ptr,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-narrowing-conversions,
  -bugprone-reserved-identifier,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
  -readability-convert-member-functions-to-static,
  -readability-named-parameter,
  -readability-avoid-const-params-in-decls,
  -readability-redundant-access-specifiers,
  -readability-suspicious-call-argument,
  -readability-else-after-return,
  -readability-function-size,
  -readability-braces-around-statements,
  -readability-isolate-declaration,
  -readability-make-member-function-const,
  -readability-qualified-auto,
  -readability-redundant-control-flow,
  -readability-redundant-member-init,
  -readability-redundant-string-cstr,
  -readability-redundant-string-init,
  -readability-string-compare,
  -readability-use-anyofallof,
  -readability-inconsistent-declaration-parameter-name,
  -readability-const-return-type,
  -readability-container-data-pointer,
  -readability-container-size-empty,
  -readability-implicit-bool-conversion,
  -readability-simplify-boolean-expr,
  -readability-static-accessed-through-instance,
  -readability-static-definition-in-anonymous-namespace,
  -readability-uniqueptr-delete-release,
  -readability-redundant-smartptr-get,
  -readability-redundant-declaration,
  -readability-redundant-preprocessor,
  -readability-simplify-subscript-expr,
  -readability-redundant-casting,
  -readability-redundant-function-ptr-dereference,
  -readability-reference-to-constructed-temporary,
  -readability-redundant-string-constructor,
  -readability-redundant-void-arg,
  -readability-use-std-min-max,
  -readability-avoid-return-with-void-value,
  -readability-avoid-unconditional-preprocessor-if,
  -readability-avoid-nested-conditional-operator,
  -readability-avoid-const-params-in-decls,
  -readability-make-member-function-const,
  -readability-qualified-auto,
  -readability-redundant-control-flow,
  -readability-redundant-member-init,
  -readability-redundant-string-cstr,
  -readability-redundant-string-init,
  -readability-string-compare,
  -readability-use-anyofallof,
  -readability-inconsistent-declaration-parameter-name,
  -readability-const-return-type,
  -readability-container-data-pointer,
  -readability-container-size-empty,
  -readability-implicit-bool-conversion,
  -readability-simplify-boolean-expr,
  -readability-static-accessed-through-instance,
  -readability-static-definition-in-anonymous-namespace,
  -readability-uniqueptr-delete-release,
  -readability-redundant-smartptr-get,
  -readability-redundant-declaration,
  -readability-redundant-preprocessor,
  -readability-simplify-subscript-expr,
  -readability-redundant-casting,
  -readability-redundant-function-ptr-dereference,
  -readability-reference-to-constructed-temporary,
  -readability-redundant-string-constructor,
  -readability-redundant-void-arg,
  -readability-use-std-min-max,
  -readability-avoid-return-with-void-value,
  -readability-avoid-unconditional-preprocessor-if,
  -readability-avoid-nested-conditional-operator
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
...
