.git
.gitignore
build
cmake-build-*
**/CMakeFiles
**/CMakeCache.txt
**/*.o
**/*.a
**/*.so
**/*.dylib
**/*.exe
**/Testing
**/CTestTestfile.cmake
smolclaw-config/**/workspace
smolclaw-config/**/memory
smolclaw-config/**/*.db
smolclaw-config/**/*.db-shm
smolclaw-config/**/*.db-wal
smolclaw-config/**/*.jsonl
